<html>
	<head>
		<title>SpeakerZen</title>

		<!-- le wild styles -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>

		<link rel="stylesheet" type="text/css" href="css/styles.css">

		<!-- le wild script -->
		<script src="http://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/detailed.js"></script>
		<meta name = "viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0">
	</head>
	<body>
		<div class="container-fluid" id="head">
			<div class="container">
				<div class="row">
					<div class="span12">
						<a href="index.html" class="hbtn"><</a>
						<div class="" id="logo">
							<img src="img/logo.png"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid" id="main">
			<div class="container">
				<div class="span12">
					<div class="box">
						<div class="boxgraph">
							<img src="img/graph.png"/>
						</div>
						<div class="boxyesno">
							<div class="left">
								<p>Today Rates</p>
							</div>
							<div class="right">
								<div class="chartyesout">
									<div class="chartyesin"></div>
								</div>
								<div class="chartnoout">
									<div class="chartnoin"></div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="boxlatest">
							<div class="left">
								<p>Yes</p>
								<p>No</p>
							</div>
							<div class="right">
								<p>100</p>
								<p>30</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
	            </div>
              </div>
			</div>
		</div>
	</body>
</html>
