<html>
	<head>
		<title>SpeakerZen</title>

		<!-- le wild styles -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>

		<link rel="stylesheet" type="text/css" href="css/styles.css">

		<!-- le wild script -->
		<script src="http://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/detailed.js"></script>
		<meta name = "viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0">
	</head>
	<body>
		<div class="container-fluid" id="head">
			<div class="container">
				<div class="row">
					<div class="span12">
						<a href="index.html" class="hbtn"><</a>
						<div class="" id="logo">
							<img src="img/logo.png"/>
						</div>
						<button class="" id="ok"><img src="img/tick.png"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid" id="main">
			<div class="container">
				<div class="span12">
					<div class="box">
						<div class="talktitle">
							<h4>Title</h4>
							<input type="text" placeholder="My perfect speach...">
						</div>
						<div class="quests">
							<h4>Questions</h4>
							<input type="text" placeholder="Do you like bacon?">
							<button class="btn btn-green">ADD QUESTION!</button>
						</div>
					</div>
	            </div>
              </div>
			</div>
		</div>
	</body>
</html>
