@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-Regular.eot');
    src: local('☺'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('fonts/ProximaNova-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: local('☺'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('fonts/ProximaNova-Semibold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}
body {
    padding:0;
    position: relative;
    margin: 0;
    overflow: hidden;
    background-color: #fff;
    font-family: 'ProximaNova';
}
h1{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}

#head{
	background-color: #2e3542; 
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1); 
    z-index: 100;
    padding: 15px 0;
    color: #fff;
    width: 100%;
}
#head .container{
	width: 94%;
}
.hbtn{
	display: inline;
	font-weight: 300;
	font-size: 12px;
	padding: 19px 10px;
}
.hbtn:active{
	/*box-shadow: inset 0px 0px 3px rgba(0,0,0,.4);*/
	background-color: #3F4550;
	text-decoration: none;
}
#head a{
	color: #fff;
}
#head #logo{
	text-align: center;
	width: 100%;
	left: 0;
	text-align: center;
	display: inline;
	position: absolute;
}
#logo img{
	width: 90px;
}
#main{
	overflow-y:auto;
	top: 0;
	bottom: 0;
	height: 100%;
	overflow-x:hidden;
	background-color: #eaeaea;
}
#main .container{
	width: 100%;
}
#main .span12{
	margin: 50px 0px;
	width: 98%;
}

.accordion-heading{
	background-color: #f2f2f2;
	border-radius: 0;
	padding:20px 0px;
}
.accordion-heading a{
	color: #4D4B4B;
	font-size: 20px;
	font-weight: 600;
	-webkit-transition: .7s opacity;
}
.accordion-heading a:hover{
	opacity: .6;
	text-decoration: none;
}
.accordion-group{
	border-radius: 0;
	margin: 10px 0px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.1);
}
.accordion-inner{
	padding: 0;
}
.accordion-group {
	border: 1px solid #f4f4f4;
}
.accordion-group ul{
	margin: 0;
}
.accordion-group ul a{
	color: #4D4B4B;
}
.accordion-group ul a li{
	border-bottom: 1px solid #f2f2f2;
	padding: 20px 0px;
	width: 100%;
	display: inline-block;
}
.accordion-group ul a li .span8{
	width: 70%;
}
.accordion-group ul a li .span3{
	width: 14%;
	margin: 0px 10px;
}
.accordion-group ul a li p{
	margin: 0;
	font-weight: 600;
	font-size: 14px;
	padding: 15px 0px;
}
.chartout{
	float: right;
	border: 2px solid #00d073;
	height: 50px;
	width: 50px;
	position: relative;
}
.chartin{
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #00d073;
	text-align: center;
	font-size: 150%;
	height: 70%;
	line-height: 200%;
}
.freeform{
	text-align: center;
	width: 100px;
	float: right;
	color: #6eb9ff;
	height: 100px;
}
#allfans{
	font-size: 56px;
	line-height: 44px;
	padding-top: 30px;
}
.freeform small{
	line-height: 10px;
}
.accordion-body{
	background-color: white;
}

.box{
	width: 100%;
	border: 1px solid #D8D5D5;
	background-color: white;
	/*box-shadow: 0px 0px 2px rgba(0,0,0,.1);*/
}
.boxgraph{
	width: 100%;
	max-height: 120px;
	min-height: 120px;
	height: 120px;
}
.boxgraph img{
	width: 100%;
	height: 100%;
}
.box .right{
	float: right;
}
.box .left{
	float: left;
}
.boxlatest .right{
	text-align: center;
}
.boxlatest, .boxyesno{
	padding: 10px;
}
.boxyesno{
	border-bottom: 1px solid #eaeaea
}
.boxyesno p, .boxlatest p{
	margin: 0;
}
.chartyesin{
	border-radius: 2px 2px 0px  0px ;
	width: 100%;
	background-color: #00d073;
	height: 40%;
	position: absolute;
	bottom: 0;
}
.chartyesout{
	border: 2px solid #00d073;
	border-radius: 2px;
	position: relative;
	width: 10px;
	right: 3px;
	float: left;
	height: 20px;
}
.chartnoin{
	border-radius: 2px 2px 0px  0px ;
	width: 100%;
	background-color: #e05d5d;
	height: 40%;
	position: absolute;
	bottom: 0;
}
.chartnoout{
	border: 2px solid #e05d5d;
	border-radius: 2px;
	position: relative;
	width: 10px;
	float: right;
	height: 20px;
}
@media only screen and  (max-width: 641px){
}