<html lang="eng-us">
    <head>
        <title>SpeakerZen</title>
        <!-- Le wild script appeared -->
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

        <!-- Le wild script appeared -->
        <link rel="stylesheet" type="text/css" href="styles.css">

        <!-- And here angry robots -->
    </head>
    <body>
        <div class="header row">
            <div class="col">
                    <h1>Google Launchpad</h1>
                    <div class="clearfix"></div>
            </div>
        </div>
        <div class="body row">
            <div class="col">
                <h3 id="qtitle">Would it be ok if I go with a big question?</h3>
                <div class="multibtn">
                    <button class="btn btn-green">YES!</button>
                    <button class="btn btn-red">NO!</button>
                </div>
                <button class="btn btn-blue">NEXT!</button>
            </div>
            
        </div>
    </body>
</html>