@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-Regular.eot');
    src: local('☺'), url('fonts/ProximaNova-Regular.woff') format('woff'), url('fonts/ProximaNova-Regular.ttf') format('truetype'), url('fonts/ProximaNova-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-Semibold.eot');
    src: local('☺'), url('fonts/ProximaNova-Semibold.woff') format('woff'), url('fonts/ProximaNova-Semibold.ttf') format('truetype'), url('fonts/ProximaNova-Semibold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}
body {
    padding:0;
    margin: 0;
    background-color: #fff;
    overflow:hidden;
    font-family: 'ProximaNova';
}
h1{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}
.row, .col { overflow-x: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }
.scroll-x, .scroll-y { -webkit-overflow-scrolling: touch; }

.header.row {
    height: 60px;
    line-height: 36px;
    background-color: #2e3542;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    z-index: 100;
    color: #fff;
    text-align: center;
    left: 0px;
}
.header.row .col{
    text-align: center;
}
.body.row { top: 50px; bottom: 0;}
.body.row .col{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    overflow-y:auto;
}
.body.row .col, .header.row .col { width: 100% }
.clear{overflow-x:hidden;width:100%;position: relative;height: 100%;}
.pull-left{float:left}
.pull-right{float:right}
.footer{
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 40px;
    position: absolute;

}
.clearfix{
    clear: both;
}

#qtitle{
    text-align: center;
    color: #999999;
}
#qanswer{
    min-width: 80%;
    max-width: 80%;
    min-height: 200px;
    border-color: #f4f4f4;
    color: #555;
    padding:10px;
    font-size: 16px;
    font-family: 'ProximaNova';

}
.btn{
    margin: 20px 0px;
    width: 80%;
    border-radius: 3px;
    font-weight: 500;
    font-size: 20px;
    padding: 20px 0px;
    cursor: pointer;
}
.btn.btn-green{
    background-color: #63c6a3;
    border:none;
    color: white;
    text-shadow: 0px 2px 0px rgba(0,0,0,.2);
    box-shadow: inset 0px -3px 0px rgba(0,0,0,.2);
    -webkit-transition: .7s opacity;
}
.btn-green:hover{
    opacity: .8;
}
.btn-green:active{
    box-shadow: none;
}

.btn-red{
    border:none;
    background-color: #e05d5d;
    color:white;
    text-shadow: 0px 2px 0px rgba(0,0,0,.2);
    box-shadow: inset 0px -3px 0px rgba(0,0,0,.3);
    -webkit-transition: .7s opacity;
}
.btn-red:hover{
    opacity: .8;
}
.btn-red:active{
    box-shadow: none;
}

.btn.btn-blue{
    background-color: #19acca;
    border:none;
    color: white;
    text-shadow: 0px 2px 0px rgba(0,0,0,.2);
    box-shadow: inset 0px -3px 0px rgba(0,0,0,.2);
    -webkit-transition: .7s opacity;
}
.btn-blue:hover{
    opacity: .8;
}
.btn-blue:active{
    box-shadow: none;
}
.multibtn .btn{
    width: 40%;
}
   .loader{
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;

   }
   .loader img{
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px; /* -1 * image width / 2 */
    margin-top: -31px;  /* -1 * image height / 2 */
    display: block;
   }
