<html>
	<head>
		<title>SpeakerZen</title>

		<!-- le wild styles -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/styles.css">

		<!-- le wild script -->
		<script src="http://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>

		<!-- And here go angry robots! -->
	</head>
	<body>
		<div class="container-fluid" id="sec1">
			<div class="container">
				<div class="row">
					
				</div>
				<div class="row">
					<div class="span4"></div>
					<div class="span8">
						<h3>Some freaking awesome title!</h3>
						<p>dasfadfjasdklfjaslkdfjasd sadfkjlas ldkfjsal ;dfjas l;kdjfsakl;dj flasdkjf l;ksajdf ;lkasjdf lk;adsjf lkasdj fl;kasjd f;adjsf ;kasljdf lka;jdsf lkjasd lkjhsdg kljghdsalk gjaklasdjg alkjg </p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>